/* page.module.css */
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(214, 212, 212);
}

.information {
  text-align: left;
  color: black;
  margin-left: 50px;
  display: flex;
}

.eventTitle {
  text-decoration: underline;
}

.eventEdit {
  margin-left: 30px;
  /* padding: -100px 25px; */
  background-color: #43766C;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.table {
  width: 800px;
  border-collapse: collapse;
  background-color: #43766C;
  margin: -140px 0 100px 250px;
  color: #fff;
}

.table th,
.table td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #43766C;
  text-align: center;
  align-items: center;
}

.attendanceButton {
  background-color: #43766C;
  margin: -200px 0 0 530px;
  padding: 20px 50px;
  color: #fff;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
