/* page.module.css */
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(214, 212, 212);
}

.information {
  display: flex;
  text-align: left;
  color: black;
  margin-left: 50px;
  margin-bottom: 20px;
}

.eventTitle {
  text-decoration: underline;
}

.eventEdit {
  margin-left: 30px;
  padding: 5px;
  font-size: 12px;
  background-color: #43766C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.eventEdit:hover {
  background-color: #355f54;
}

.table {
  width: 800px;
  border-collapse: collapse;
  background-color: #43766C;
  margin: 0 auto 20px;
  color: #fff;
}

.table th,
.table td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #43766C;
  text-align: center;
  align-items: center;
}

.attendanceButton {
  background-color: #43766C;
  margin: 0 auto;
  padding: 20px 50px;
  color: #fff;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.attendanceButton:hover {
  background-color: #355f54;
}

.attendanceForm {
  background-color: #43766C;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.nameInput {
  grid-column: 1 / -1;
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 350px;
}

.dateOption {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dateOption span {
  min-width: 100px;
}

.attendanceOption {
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.attendanceOption:hover {
  background-color: #e0e0e0;
}

.commentInput {
  grid-column: 1 / -1;
  padding: 8px;
  border-radius: 4px;
  border: none;
  resize: vertical;
  width: 550px;
}

.submitButton {
  grid-column: 1 / -1;
  padding: 10px 20px;
  background-color: #2A4B40;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: end;
}

.submitButton:hover {
  background-color: #1D3530;
}
