body {
background-color: #254336;
}

header {
  padding: 5px 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.title{
  text-align: left
}

.login-link a{
  padding: 10px 20px;
  text-align: right;
  /* border: #6B8A7A 1px solid; */
  border-radius: 10px;
  background-color: #6B8A7A;
}

.calendar {
  margin-right: 200px;
  width: 330px;
  height: 220px;
  object-fit: cover;
}
